:root {
    --amber: #F4900C;
    --yellow-shadow: #FFAC33;
    --yellow: #FFCC4D;
    --foam: #EEEEEE;
    --dark-ale: #761618;
    --pale-ale: #FFE84D;
    --lavender: #C7A5D9;
}

body {
    background-color: var(--foam);
    word-spacing: .2em;
    letter-spacing: .04em;
}

h1 {
    font-family: 'Braton Composer Stamp Rough', sans-serif;
    font-size: 3em;
    color: var(--amber);
}

/* p, 
div, 
button,
a {
    font-family: 'Winter Danced', sans-serif;
    font-size: 1.2em;

} */